[submodule "libs/xXx"]
	path = libs/xXx
	url = git@github.com:XMrVertigoX/xXx_CPP
[submodule "libs/teensy_loader_cli"]
	path = libs/teensy_loader_cli
	url = https://github.com/PaulStoffregen/teensy_loader_cli.git